footer {
    background: #111;
    height: auto;
    padding-top: 40px;
    color: #fff;
}


.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}


.footer-bottom {
    background: #000;
    text-align: center;

}

.footer-bottom p {
    color: #9ef711;
    word-spacing: 2px;
    font-size: 16px;
    text-decoration: none;
    vertical-align: middle;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}