.item-container {
    border: 2px solid #606060FF;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.item-container img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    ;
    width: 100%;
}

.bookBtn {
    width: 100%;
    margin: 8px 3px;
    padding: 15px 7px;
    border-radius: 8px;
    background-color: #D6ED17FF;
    outline: none;
    color: #606060FF;
    border: none;
}

.bookBtn:hover {
    background-color: #dcf715;
    color: black;
}